import * as path from 'path';
import { defineConfig } from 'rspress/config';

export default defineConfig({
  outDir: 'build',
  root: path.join(__dirname, 'docs'),
  title: 'Documentation for {{ project_name }}',
  description: 'Find user guides and helpful information',
  icon: '/rspress-icon.png',
  logo: {
    light: '/rspress-light-logo.png',
    dark: '/rspress-dark-logo.png',
  },
  themeConfig: {
    socialLinks: [
      { icon: 'github', mode: 'link', content: 'https://github.com/web-infra-dev/rspress' },
    ],
  },
});
